# Wine Reviews dataset

Let's explore the wine review dataset from [Kaggle](https://www.kaggle.com/zynicide/wine-reviews)

We'll start by importing the data in pandas and take a look at the headers. We start by dropping the first column which is just a redundant numerical index.

In [1]:
from collections import Counter, defaultdict

import pandas as pd
import numpy as np

import json
import csv

In [2]:
data_path = "data/winemag-data-130k-v2.csv"

In [3]:
df = (pd.read_csv(data_path)).drop(['Unnamed: 0'], axis=1)

In [4]:
df = df.dropna(subset=['country', 'points', 'price'])

In [5]:
df[:5]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

We would like to visualize for each country the average score of the wines reviewed in this datased.
Therefore let's create a smaller dataframe with only the needed information.

Given the dataset format, all the wine scores will be between 80 and 100. The prices are much more different.

In [6]:
df.describe()

              points          price
count  120916.000000  120916.000000
mean       88.421723      35.368644
std         3.044942      41.031052
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [7]:
country_point = defaultdict(int)
country_price = defaultdict(float)
country_count = Counter()

In [8]:
for ind, row in df.iterrows():
    country_point[row['country']] += row['points']
    country_price[row['country']] += row['price']
    country_count[row['country']] += 1

In [9]:
for c, s in country_point.items():
    country_point[c] = s / country_count[c]
for c, s in country_price.items():
    country_price[c] = s / country_count[c]

In [10]:
country_point

defaultdict(int,
            {'Portugal': 88.31671794871795,
             'US': 88.56638717405326,
             'Spain': 87.29073482428115,
             'Italy': 88.61818611800875,
             'France': 88.73486723672367,
             'Germany': 89.83632075471698,
             'Argentina': 86.71033013844516,
             'Chile': 86.49547101449275,
             'Australia': 88.59546643417612,
             'Austria': 90.19078242229368,
             'South Africa': 87.83139984532096,
             'New Zealand': 88.30841799709724,
             'Israel': 88.49693251533742,
             'Hungary': 89.1655172413793,
             'Greece': 87.2885032537961,
             'Romania': 86.4,
             'Mexico': 85.25714285714285,
             'Canada': 89.37795275590551,
             'Turkey': 88.08888888888889,
             'Czech Republic': 87.25,
             'Slovenia': 88.0125,
             'Luxembourg': 88.66666666666667,
             'Croatia': 87.35211267605634,
             'Georgia': 87.67857142857143,
             'Uruguay': 86.75229357798165,
             'England': 91.55072463768116,
             'Lebanon': 87.68571428571428,
             'Serbia': 87.5,
             'Brazil': 84.65957446808511,
             'Moldova': 87.20338983050847,
             'Morocco': 88.57142857142857,
             'Peru': 83.5625,
             'India': 90.22222222222223,
             'Bulgaria': 87.93617021276596,
             'Cyprus': 87.18181818181819,
             'Armenia': 87.5,
             'Switzerland': 88.57142857142857,
             'Bosnia and Herzegovina': 86.5,
             'Ukraine': 84.07142857142857,
             'Slovakia': 87.0,
             'Macedonia': 86.83333333333333,
             'China': 89.0})

In [11]:
country_count

Counter({'Portugal': 4875,
         'US': 54265,
         'Spain': 6573,
         'Italy': 16914,
         'France': 17776,
         'Germany': 2120,
         'Argentina': 3756,
         'Chile': 4416,
         'Australia': 2294,
         'Austria': 2799,
         'South Africa': 1293,
         'New Zealand': 1378,
         'Israel': 489,
         'Hungary': 145,
         'Greece': 461,
         'Romania': 120,
         'Mexico': 70,
         'Canada': 254,
         'Turkey': 90,
         'Czech Republic': 12,
         'Slovenia': 80,
         'Luxembourg': 6,
         'Croatia': 71,
         'Georgia': 84,
         'Uruguay': 109,
         'England': 69,
         'Lebanon': 35,
         'Serbia': 12,
         'Brazil': 47,
         'Moldova': 59,
         'Morocco': 28,
         'Peru': 16,
         'India': 9,
         'Bulgaria': 141,
         'Cyprus': 11,
         'Armenia': 2,
         'Switzerland': 7,
         'Bosnia and Herzegovina': 2,
         'Ukraine': 14,
         'Slovakia': 1,
         'Macedonia': 12,
         'China': 1})

In [12]:
country_price

defaultdict(float,
            {'Portugal': 26.21825641025641,
             'US': 36.5734635584631,
             'Spain': 28.215274608245853,
             'Italy': 39.663769658271256,
             'France': 41.139120162016205,
             'Germany': 42.25754716981132,
             'Argentina': 24.510117145899894,
             'Chile': 20.786458333333332,
             'Australia': 35.43766346992153,
             'Austria': 30.76277241872097,
             'South Africa': 24.668986852281517,
             'New Zealand': 26.93178519593614,
             'Israel': 31.768916155419223,
             'Hungary': 40.648275862068964,
             'Greece': 22.364425162689805,
             'Romania': 15.241666666666667,
             'Mexico': 26.785714285714285,
             'Canada': 35.71259842519685,
             'Turkey': 24.633333333333333,
             'Czech Republic': 24.25,
             'Slovenia': 24.8125,
             'Luxembourg': 23.333333333333332,
             'Croatia': 25.450704225352112,
             'Georgia': 19.321428571428573,
             'Uruguay': 26.40366972477064,
             'England': 51.68115942028985,
             'Lebanon': 30.685714285714287,
             'Serbia': 24.5,
             'Brazil': 23.76595744680851,
             'Moldova': 16.74576271186441,
             'Morocco': 19.5,
             'Peru': 18.0625,
             'India': 13.333333333333334,
             'Bulgaria': 14.645390070921986,
             'Cyprus': 16.272727272727273,
             'Armenia': 14.5,
             'Switzerland': 85.28571428571429,
             'Bosnia and Herzegovina': 12.5,
             'Ukraine': 9.214285714285714,
             'Slovakia': 16.0,
             'Macedonia': 15.583333333333334,
             'China': 18.0})

We will also need some geographic data to find the positions of the countries on the world map

In [13]:
world_data = json.load(open('data/world-110m.geojson', 'r'))

In [14]:
country_name_code = {}

In [15]:
for elem in world_data['features']:
    country_name_code[elem['properties']['name']] =  elem['id']

In [16]:
country_code = {}

In [17]:
for c in country_count:
    country_code[c] = country_name_code.get(c, None)

Now we will have to do some manual processing to assign the country code to those countries that were mismatched in the json file

In [18]:
for c, i in country_code.items():
    if i == None:
        print(c)

US
Serbia

In [19]:
country_code['US'] = 'USA'
country_code['Serbia'] = 'SRB'

Now that we have the data we can create an aggregated csv file

In [20]:
with open('res/country_wine_data.csv', mode='w') as cwd_file:
    cwd_writer = csv.writer(cwd_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    cwd_writer.writerow(['country', 'count', 'points', 'price', 'code'])
    for c in country_count:
        cwd_writer.writerow([c, country_count[c] , country_point[c], country_price[c], country_code[c]])

Let's also create a little helper data structure

In [21]:
code_country = {}
for country, code in country_code.items():
    code_country[code] = country

In [22]:
json.dump(code_country, open('res/code_country.json', 'w', encoding='utf-8', errors='ignore'), indent=2)

Now that we have the preprocessed data for a map visualization, it would also be interesting to get a sense of the distribution of wine varieties per country.

Let's first count the number of different varieties to see if such a visualization would be feasible.

In [23]:
varieties = Counter()

for ind, row in df.iterrows():
    varieties[row['variety']] += 1

In [25]:
print(varieties.most_common(10))
print(len(varieties))

[('Pinot Noir', 12785), ('Chardonnay', 11077), ('Cabernet Sauvignon', 9384), ('Red Blend', 8466), ('Bordeaux-style Red Blend', 5340), ('Riesling', 4971), ('Sauvignon Blanc', 4780), ('Syrah', 4086), ('Rosé', 3261), ('Merlot', 3061)]
692

Another interesting feature of this data is the year in which each bottle was produced. Let's therefore try to extract this information.

Extracting the year from the title is non trivial, due to the presence of other numbers in the text. Some cleaning operations are needed to reduce the amount of numbers in the titles.

One useful feature about the title structure is that the name of the winery is always the prefix of the title.

In [37]:
years = Counter()

In [36]:
for ind, row in df.iterrows():
    title = row['title']
    winery_len = len(row['winery'])
    year = [int(y) for y in title[winery_len:].split() if y.isdigit()]
    print(title[winery_len:].strip(), '-----', winery.strip())
    break

2011 Avidagos Red (Douro) ----- Domaine Schoffit

As it turns out, the standard formatting of the title is:
`winery` `year` (or `NV` for nonvintage wines) `name`

In [38]:
for ind, row in df.iterrows():
    winery_len = len(row['winery'])
    title = row['title'][winery_len:].strip().split()
    if title[0].isdigit():
        years[title[0]] += 1

In [39]:
years.most_common()

[('2013', 15187),
 ('2014', 14876),
 ('2012', 14736),
 ('2011', 11436),
 ('2010', 11105),
 ('2015', 9621),
 ('2009', 9056),
 ('2008', 6725),
 ('2007', 6498),
 ('2006', 5170),
 ('2016', 3543),
 ('2005', 3293),
 ('2004', 1604),
 ('2000', 734),
 ('2001', 668),
 ('1999', 619),
 ('1998', 541),
 ('2003', 499),
 ('2002', 333),
 ('1997', 297),
 ('1996', 64),
 ('1995', 45),
 ('1994', 23),
 ('1992', 14),
 ('2017', 11),
 ('1989', 6),
 ('1990', 5),
 ('1988', 5),
 ('1991', 4),
 ('1985', 4),
 ('1986', 4),
 ('1993', 3),
 ('1963', 3),
 ('1964', 2),
 ('1983', 2),
 ('1980', 2),
 ('1987', 2),
 ('1978', 2),
 ('1984', 2),
 ('1952', 2),
 ('1976', 1),
 ('1967', 1),
 ('1969', 1),
 ('1935', 1),
 ('1973', 1),
 ('1965', 1),
 ('1968', 1),
 ('1947', 1),
 ('1982', 1),
 ('1957', 1),
 ('1966', 1),
 ('1961', 1),
 ('1941', 1),
 ('1974', 1),
 ('1934', 1),
 ('1945', 1)]

In [40]:
sum(years.values())

116762

It would also be interesting to know more about the relation between prices and final scores

In [41]:
prices = Counter()

for ind, row in df.iterrows():
    prices[row['price']] += 1

In [43]:
prices.most_common(10)

[(20.0, 6938),
 (15.0, 6066),
 (25.0, 5796),
 (30.0, 4946),
 (18.0, 4881),
 (12.0, 3932),
 (40.0, 3871),
 (35.0, 3801),
 (13.0, 3548),
 (16.0, 3545)]

In [44]:
score_price = Counter()
score_count = Counter()

In [45]:
for ind, row in df.iterrows():
    score_price[row['points']] += row['price']
    score_count[row['points']] += 1

In [48]:
score_avgprice = {}

for score, price in score_price.items():
    score_avgprice[score] = price / score_count[score]

In [49]:
score_avgprice

{87: 24.902734598058498,
 86: 22.134156729131174,
 85: 19.950455005055613,
 88: 28.689472039987503,
 92: 51.05042301184433,
 91: 43.22776778103987,
 90: 36.91221959035809,
 89: 32.184857597735714,
 83: 18.237352737352737,
 82: 18.87076749435666,
 81: 17.18235294117647,
 80: 16.372151898734177,
 100: 485.94736842105266,
 98: 245.4927536231884,
 97: 207.17391304347825,
 96: 159.29253112033194,
 95: 109.23541963015647,
 93: 63.112215669755685,
 94: 81.43693824296898,
 84: 19.314580941446614,
 99: 284.2142857142857}

In [ ]:
with open('res/country_wine_data.csv', mode='w') as cwd_file:
    cwd_writer = csv.writer(cwd_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    cwd_writer.writerow(['score', 'price', 'count'])
    
    for i in range(80, 101):
        cwd_writer.writerow([i, score_avgprice[i] , score_count[i]])